#integrations.content
  .row
    .col-lg-12
      .box
        .box-header
          h2
            | Event Integrations
  .row
    .col-lg-12
      .box
        .box-header
          h3
            i.fa.fa-github
            |  GitHub
        .box-body
          p
            | Associate GitHub commit and pull request events into Standup App,
            | set up per team.
          - unless @github
            = link_to "Install GitHub Integration",\
            user_github_omniauth_authorize_path, class:"btn btn-primary"
          - else
            .row
              .col-lg-12
                p
                  | Github installed with access to repos:
                .well
                  = @grepos.join(", ")
                p
                  | You can setup teams individually to follow repo activity
                = link_to "Remove Github Integration",\
                    remove_integrations_path('github'),\
                    {class: "btn btn-danger" ,method: :delete, data:\
                      { confirm: 'Are you sure? Deleting is permanent'}\
                    }
